<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Panel</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/student.css">
<!--===============================================================================================-->
</head>
<body>
	

<div class="limiter">
		<div class="container-student100">
			<div class = "wrap-student100 p-l-55 p-r-55 p-t-65 p-b-50">
				<span class="student100-greeting p-b-33">
						Hello, {{ student_name }}
				</span>
				<span class="student100-explanation p-b-33">
						Your attendance for this week
				</span>
				
				<span class = "student100-WeekDays">
					<b> ID{{id }} </b><b>Monday</b>: {{attendances[0]}}<b> &nbsp Prep: </b> {{lecturers[0]}} <b> &nbsp <br> Attendance taken: </b>  {{date[0]}} <br>
					<br>
					<b> ID{{id }} </b>  <b>Tuesday</b>: {{attendances[1]}}<b> &nbsp Prep: </b> {{lecturers[1]}} <b> &nbsp <br> Attendance taken: </b>  {{date[1]}} <br>
					<br>
					<b> ID{{id }} </b> <b> Wednesday</b>: {{attendances[2]}}<b> &nbsp Prep: </b> {{lecturers[2]}} <b> &nbsp <br> Attendance taken: </b> {{date[2]}} <br>
					<br>
					<b> ID{{id }} </b> <b>Thursday</b>: {{attendances[3]}}<b> &nbsp Prep: </b> {{lecturers[3]}} <b> &nbsp <br> Attendance taken: </b> {{date[3]}} <br>
					<br>
					<b> ID{{id }} </b> <b>Friday</b>: {{attendances[4]}}<b> &nbsp Prep: </b> {{lecturers[4]}} <b> &nbsp <br> Attendance taken: </b> {{date[4]}} <br>
			</span>

			</div>
			
		</div>
	</div>


	
<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>
<!--===============================================================================================-->

</body>
</html>